/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
header {
  width: 100%;
  display: flex;
  -webkit-box-shadow: 10px 5px 5px red;
  -moz-box-shadow: 10px 5px 5px red;
  box-shadow: 10px 5px 5px red;
  border: solid 1px red;
}
@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header nav {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 768px) {
  header nav {
    width: 100%;
    margin-left: 3%;
    order: 2;
  }
}
@media (max-width: 400px) {
  header nav {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
@media (max-width: 400px) {
  header nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid gray;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 768px) {
  header .logo {
    margin: 0;
  }
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cta {
    justify-content: center;
  }
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
  -webkit-transform: skew(20deg, 10deg);
  -moz-transform: skew(20deg, 10deg);
  -ms-transform: skew(20deg, 10deg);
  -o-transform: skew(20deg, 10deg);
}
@media (max-width: 768px) {
  .cta .cta-text {
    margin: 0;
    font-size: 50px;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
.cta img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
@media (max-width: 768px) {
  .cta img {
    display: none;
  }
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content h4 {
  font-weight: bold;
  font-size: 24px;
}
.main-content p {
  color: darkblue;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .main-content .top-content {
    display: block;
  }
}
.main-content .top-content .text-content {
  display: flex;
  flex-direction: column;
}
.main-content .top-content button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px 30% 0;
  width: 40%;
  background: red;
}
.main-content .top-content button:hover {
  background: #990000;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
  width: 100%;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    display: block;
  }
}
.main-content .bottom-content .text-content {
  display: flex;
  flex-direction: column;
}
.main-content .bottom-content p {
  padding-right: 20px;
}
.main-content .bottom-content button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px 30% 0;
  width: 40%;
  background: red;
}
.main-content .bottom-content button:hover {
  background: #990000;
}
.contact p {
  margin: 20px 0;
}
footer {
  text-align: center;
  margin: 40px 0 20px;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
