// Call To Action (CTA) Styles

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    @media @tablet {
        justify-content: center;
    }



    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
        @media @tablet {
            margin: 0;
            font-size: 50px;
        }
        .skew(20deg, 10deg);
    }

    .cta-text button {
        border: 1px double black;
        font-size: 16px;
        background: white;
        width: 170px;
        height: 32px;
        margin-top: 10px;
        .border-radius(50px);
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
    img {
        .rotate(180deg);

        @media @tablet {
            display: none;
        }
    }
}// cta