@import "reset.less";
@import "variables.less";
@import "mixins.less";
@import "general-styles.less";
@import "header.less";
@import "cta.less";
@import "main-content.less";
@import "contact.less";
@import "footer.less";

@tablet: ~"(max-width: 768px)";

@phone: ~"(max-width: 400px)";

.my-custom-button () {
    .border-radius;
    margin: 10px 30% 0;
    width: 40%;
    background: red;

    &:hover {
        background: darken(red, 20%);
	
	}

}

.container {
    @media @tablet {
        width: 90%;
        margin: 0 5%;
    }


}

#mrnamespace {

   .my-custom-button () {
    .border-radius;
    margin: 10px 30% 0;
    width: 40%;
    background: red;

    &:hover {
        background: darken(red, 20%);
	
	}


    }

    .contentheader () {
      font-weight: bold;
      font-size: 24px;
      }

    .paragraph () {
      color: darkblue;
      }


}