// Main Content Styles

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;

   h4 {
     #mrnamespace > .contentheader;
     }

   p {
     #mrnamespace > .paragraph;
     }

   .top-content {
        display: flex;
        justify-content: space-around;

        @media @phone {
            display: block;
        }

        .text-content {
            display:flex;
            flex-direction: column;
        }

        button {
            #mrnamespace > .my-custom-button;
        }

	
    }

    .middle-img {
        display: block;
        margin: 30px auto;
        width: 100%;
        .opacity();
    }

    .bottom-content {
        display: flex;
        justify-content: space-around;

        @media @phone {
            display: block;
        }

        .text-content {
            display:flex;
            flex-direction: column;
        }

        p {
            padding-right: 20px;
        }
        
        button {
            #mrnamespace > .my-custom-button;
        }
        
    }

}// main-content